force-app/main/default/flows/Notify_Users_without_Photos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_User</name>
        <label>Notify User</label>
        <locationX>565</locationX>
        <locationY>295</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Increment_Post_Counter</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hey @[{!UserIterator.Id}]...you should set your user profile photo.  If you don&#39;t, I&#39;ll have the system select one for you that you might not like.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>UserIterator.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Increment_Post_Counter</name>
        <label>Increment Post Counter</label>
        <locationX>864</locationX>
        <locationY>295</locationY>
        <assignmentItems>
            <assignToReference>PostCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Wait_for_new_limits</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DMLLimit</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>149.0</numberValue>
        </value>
    </constants>
    <description>notifies users without chatter photos that they should update them.</description>
    <interviewLabel>Notify Users without Photos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify Users without Photos</label>
    <loops>
        <name>Loop_through_users</name>
        <label>Loop through users</label>
        <locationX>565</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>UserIterator</assignNextValueToReference>
        <collectionReference>Userswithoutphotos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Notify_User</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>Get_Users_without_Photos</startElementReference>
    <status>Draft</status>
    <subflows>
        <name>Get_Users_without_Photos</name>
        <label>Get Users without Photos</label>
        <locationX>306</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Loop_through_users</targetReference>
        </connector>
        <flowName>GetUsersWithoutPhotos</flowName>
        <outputAssignments>
            <assignToReference>Userswithoutphotos</assignToReference>
            <name>UsersFound</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>PostCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UserIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Userswithoutphotos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <waits>
        <name>Wait_for_new_limits</name>
        <label>Wait for new limits</label>
        <locationX>864</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Loop_through_users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not at limit yet</defaultConnectorLabel>
        <waitEvents>
            <name>Wait</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PostCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DMLLimit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_users</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Wait (at limit)</label>
        </waitEvents>
    </waits>
</Flow>
