force-app/main/default/flows/Single_User_Notify_Set.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_User</name>
        <label>Notify User</label>
        <locationX>686</locationX>
        <locationY>491</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!UserId}] We picked a photo for you.  You can change it if you like</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_Warning</name>
        <label>Post Warning</label>
        <locationX>687</locationX>
        <locationY>289</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!UserId}] you need to set your profile photo.  If not, one will be chosen for you.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Set_Photo</name>
        <label>Set Photo</label>
        <locationX>418</locationX>
        <locationY>491</locationY>
        <actionName>photoProfileMotivator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Notify_User</targetReference>
        </connector>
        <inputParameters>
            <name>userids</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Has_photo</name>
        <label>Has photo</label>
        <locationX>412</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Warn_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User.IsProfilePhotoActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Warn_Only</name>
        <label>Warn Only</label>
        <locationX>412</locationX>
        <locationY>290</locationY>
        <defaultConnector>
            <targetReference>Set_Photo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Edit Photo</defaultConnectorLabel>
        <rules>
            <name>WarnYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WarnOnly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Warning</targetReference>
            </connector>
            <label>WarnYes</label>
        </rules>
    </decisions>
    <interviewLabel>Single User Notify/Set {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Single User Notify/Set</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetUser</name>
        <label>Get User</label>
        <locationX>209</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_photo</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>User</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsProfilePhotoActive</queriedFields>
    </recordLookups>
    <startElementReference>GetUser</startElementReference>
    <status>Active</status>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WarnOnly</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
